<!-- <div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		<h1>New Vistor Registration</h1>
		<%= render 'form', vistor: @vistor %>
		<%= link_to 'Back', welcome_index_path %>
	</div>
	
</div>




 -->


 <div class="col-md-8">
    <h3 class="new-visitor"> <i class="fa fa-arrow-circle-left" aria-hidden="true" style="margin-right: 30px;"></i>New visitor</h3>
</div>

<div class="col-md-8">
    <div class="form-group">
        <label class="label-visitors" for="sel1">VISITOR TYPE</label>
          <select class="form-control form-class" id="sel1">
              <option>Visitor</option>  
          </select>
    </div>
</div>

                           

<div class="clearfix"></div>
  <div class="col-md-4">
      <div class="form-group">
        <label class="label-visitors" for="usr">ARRIVAL DATE</label>
        <input type="text" class="form-control form-class" id="usr">
      </div>
   </div>

  <div class="col-md-4">
    <div class="form-group">
      <label class="label-visitors" for="usr">ARRIVAL TIME</label>
      <input type="text" class="form-control form-class" id="usr">
    </div>
 	</div>

                <div class="col-md-8">
                    <div class="form-group">
                      <label class="label-visitors" for="usr">FULL NAME </label>
                      <input type="text" class="form-control form-class" id="usr">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                      <label class="label-visitors" for="usr">YOU ARE HERE FOR</label>
                      <input type="text" class="form-control form-class" id="usr">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                      <label class="label-visitors" for="usr">YOUR PHONE NUMBER</label>
                      <input type="text" class="form-control form-class" id="usr">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                      <label class="label-visitors" for="usr">YOUR EMAIL ADDRESS</label>
                      <input type="text" class="form-control form-class" id="usr">
                    </div>
                </div>

                    <div class="col-md-8">
                        <div class="form-group">
                        <label class="label-visitors" for="sel1">HOST</label>
                          <select class="form-control form-class" id="sel1">
                            <option>Choose a host</option>
                            
                          </select> 
                        </div>  
                    </div>


                    <div class="col-md-8">
                        <div class="form-group">
                          <label class="label-visitors" for="comment">PRIVATE NOTES</label>
                          <textarea class="form-control form-class" rows="5" id="comment"></textarea>
                        </div>
                                
                    </div>

                    <div class="clearfix"></div>

                                
                   <div class="col-md-4">
                            <label class="checkbox-inline label-visitors margin-label-visitors"><input type="checkbox" value="">SEND HOST NOTIFICATION</label>
                   </div>

                   <div class="clearfix"></div>


                   <div class="col-md-8 btn-visitor"">
                       <button type="button" class="btn btn-sign">Sign in</button>
                       <button type="button" class="btn btn-sign-another">Sign in and add another</button>
                   </div>