<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		<h1>New Vistor Registration</h1>
		<%= render 'form', vistor: @vistor %>
		<%= link_to 'Back', welcome_index_path %>
	</div>
	
</div>




