<!-- <body>
    <div class="container page-div">
        <div class="row">
            <div class="main-page">
                <div class="col-md-4 col-md-offset-1 text">
                    <h1>The easiest way to sign in visitors</h1>
                    <p>Collect guest information, capture their photos and have them sign legal documents—all on the iPad.</p>
                    <%= link_to 'Check In', new_vistor_path, :class => 'btn btn-sign' %>
                    <button type="button" class="btn btn-sign btn-lg">Sign up</button>
                </div>
                
            </div>
        </div>    
    </div>
</body>

 -->