body, html{

background: #f6f6f7; 
-webkit-font-smoothing: subpixel-antialiased;
font-size: 100%;
color: #111;
min-height: 100%;


}

.main-container{

  height: 100vh;
    display:table;
    width: 100%;
   /* margin-top: -50px;*/
    padding: 35px; /*set left/right padding according to needs*/
    box-sizing: border-box;
}


.main-row {
    height: 100%;
    display: table-row;
}


.float_row {
    background: #fff;   
}

.row .no-float {
  display: table-cell;
  float: none;
}



.logo-image{

padding-bottom: 2rem;

}

.tech{

  padding-bottom: 1rem;
  font-weight: bold;
}



.visitor-list{

color: #333;
text-decoration: none !important;
}



.visitor-list-box{

  list-style: none;
  margin-bottom: 1rem;
}


.nav a.active, nav a:focus, nav a:hover{
outline: none;
color: #ef3934;
text-decoration: none;

}


.new-visitor{

font-weight: bold;
font-size: 20px;
/*margin-top: 20px*/;
margin-bottom: 30px;
}



.label-visitors{

font-size: 11px;
display: inline-block;
max-width: 100%;
margin-bottom: 0px;
font-weight: 600;
color: #93959a;
}


.margin-label-visitors{

  margin-bottom: 30px;
}


.btn-visitor{

margin-bottom: 50px;
}


.btn-sign{
  font-size: 16px;
  color: #fff;
  background-color: #ef3934;
  border-color: #ef3934;
  border-radius: 2px;
  width: 102px;
  

}


.btn-sign-another{
  font-size: 16px;  
  color: #ef3934;
  background-color: #fff;
  border-color: #ef3934;
  border-radius: 2px;
  margin-left: 20px;

}


.form-class{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}




.form-class:focus {

  border-color: #ef3934;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}


@media (max-width: 767px) {
   .row .no-float 

   {
    display: block;
    
}

}




.btn-sign-another:hover, .btn-sign-another:focus, .btn-sign-another.focus {
  color: #e01812;;
  text-decoration: none;
}


.btn-sign:hover, .btn-sign:focus, .btn-sign.focus {
    color: cornsilk;
    text-decoration: none;
}




.page-div{

  width: 100%;
}



.main-page{
background-image: url(homepage.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
height: 100vh;
padding: 0px;

}



.text{

  padding-top: 12rem;
  color: #fff;
}



.search-icon{

border-radius: 4rem;
margin-top: 0.7rem;
}


.search-visitor{
  margin-top: 0.6rem;

}

.error{
  color: red;
  font-size: 12
}
.requiredField{
  display: inline;
  content: "•";
  color: rgb(239, 57, 52);
}

.search_by_date_form > form {
  display: inline-block;
}

.user_panel{
  margin-top: 20px
}

.export-link{
  color: red
}

#search_by_calender{
  text-align: center;
}

.search-visitor{
  margin-top: 0.6rem;

}


.arrow-btn{

border-radius: 2px;
background-color: transparent;
box-shadow: 0 0 0 1px #c9cacd inset;
color: #272c37;
}


.vistor-dropdown{

  right: 0.8rem;
  left: unset;
}


.circle-par{


  background-color: hsl(205, 33%, 45%);
  text-align: -webkit-center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}


.margin-inline{

  top: 30%;
}


.table_heading 
{
font-size: 12px;
color: rgb(147, 145, 154);
}

.heading{

  font-size: 8px;
  color: rgb(147, 145, 154);

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: baseline;
    border-top: 1px solid #ddd;
}


.table_data{
  font-weight: bold;
} 

.table_data2{
   color: rgb(147, 145, 154);
  font-size: 12px;
} 
