
  <body>

    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Simple, One Page Design</h1>
                <h4>A free landing page theme with video background</h4>
                <hr>
                 <%= link_to 'Check In', new_vistor_path, :class => 'btn btn-primary btn-xl' %> &nbsp; <%= link_to 'Check Out', vistors_path, :class => 'btn btn-primary btn-xl' %>
            </div>
        </div>
    </header>
  </body>


<style type="text/css">

    @import url(https://fonts.googleapis.com/css?family=Questrial);
    @import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

    html,
    body {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
        background-color: #282828;
        color: #d3d3d3;
        webkit-tap-highlight-color: #222;
    }

    hr {
        max-width: 80px;
        border-width: 3px;
        opacity: 0.09;
        margin-top: 15px;
        margin-bottom: 15px;
    }



    .bg-primary {
        background-color: #333;
    }

    .bg-dark {
        color: #eee;
        background-color: #222;
    }

    .cursive {
        font-family: 'Dancing Script', cursive;
        text-transform: none;
    }

    .text-faded {
        color: rgba(245,245,245,0.7);
    }



    header {
        position: relative;
        min-height: auto;
        text-align: center;
        color: #fff;
        width: 100%;
        background-color: #c9c9c9;
        background-image: url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg');
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    header .header-content {
        position: relative;
        width: 100%;
         
        text-align: center;
        z-index: 2;
    }

    header .header-content .inner h1 {
        margin-top: 0;
        margin-bottom: 0;
    }




    @media(min-width:768px) {
        .icon-lg {
            font-size: 80px;
        }
        
        header {
            min-height: 100%;
        }

        header .header-content {
            position: absolute;
            top: 50%;
             
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        header .header-content .inner {
            margin-right: auto;
            margin-left: auto;
            max-width: 1000px;
        }

        header .header-content .inner h1 {
            font-size: 53px;
        }

        header .header-content .inner p {
            margin-right: auto;
            margin-left: auto;
            max-width: 80%;
            font-size: 18px;
        }
        
        section {
            min-height: 600px;
           
        }

    }




    .btn.btn-primary {
        background-color: transparent;
        border:1px solid #f0f0f0;
        border-color:#f0f0f0;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
        text-decoration: none;
        color: white
    }

    .btn.btn-primary:hover {
        opacity: 0.7;
    }

    .btn {
        border: 0;
        border-radius: 290px;
        font-family: 'Helvetica Neue',Arial,sans-serif;
    }

    .btn-xl {
        padding: 15px 30px;
        font-size: 20px;
    }


</style>

